<h1 class="my-4 text-center">Editar Producto</h1>
<form class="bg-light bg-gradient py-3" enctype="multipart/form-data" method="PUT" name="editForm" id="{{product.id}}">
    <div class="container mt-5 shadow col-11 col-md-10">
        <div class="row">
            <section class="col-12 col-md-9 my-auto">
                <div class="col-6 mb-3 mx-auto">
                    <div class="text-center">
                        <h2 for="inputAddress" class="form-label my-3 mx-auto text-center fw-bolder h4">Foto de producto</h2>
                    </div>
                    <input type="file" class="form-control" id="photoUpload" name="file" aria-describedby="userPhotoUpload" disabled>
                    <label id="userPhotoUpload" class="form-text">subir foto de producto</label>
                </div>
                <div class="col-6 mb-3 mx-auto">
                    <input type="text" class="form-control" id="photoUrl" name="urlImg" aria-describedby="userPhotoUrl" value="{{ product.img }}">
                    <label id="userPhotoUrl" class="form-text">o ingrese Link con foto de su producto</label>
                </div>
            </section>
            <section class="col-12 col-md-3 border rounded">
                <div class="col-auto mx-auto h5 my-3">
                    <label for="product" id="labelProduct" class="form-text mb-2">Título de producto</label>
                    <input type="text" name="product" class="form-control" aria-label="First name" id="product" value="{{ product.title }}" required="true">
                </div>
                <div class="col-6 mx-auto my-3 h5">
                    <label for="value" id="labelPrice" class="form-text mb-2">Precio</label>
                    <input type="number" name="value" class="form-control" placeholder="$" aria-label="Valor" id="value" required="true" value="{{product.price}}">
                </div>
                <div>
                    <div class="col-6 mx-auto mb-3 h5">
                        <label for="stock" id="labelStock" class="form-text mb-2">Stock</label>
                        <input  type="number" name="stock" class="form-control" aria-label="Valor" id="stock" required="true" value="{{product.stock}}">
                    </div>
                    <div class="h5">
                        <label for="category" id="labelCategory" class="form-text mb-2">Seleccione Categoría</label>
                        <select type="number" name="category" class="form-select" aria-label="category" id="category" required="true" >
                            <option value="1">Categoría 1</option>
                            <option value="2">Categoría 2</option>
                            <option value="3">Categoría 3</option>
                            <option value="4">Categoría 4</option>
                            <option value="5">Categoría 5</option>
                            <option value="6">Categoría 6</option>
                            <option value="7">Categoría 7</option>
                            <option value="8">Categoría 8</option>
                            <option value="9">Categoría 9</option>
                            <option value="10">Categoría 10</option>
                        </select>
                    </div>
                    <br></br>
                    <button type="submit" class="btn btn-success my-3 w-100" id="submitBtn">Editar Producto</button>
                </div>
            </section>
        </div>
        <div class="row mt-3">
            <section class="col-12 border rounded">
                <h2 class='my-3 mx-3'>Descripción</h2>
                <div class="col-12 mx-auto my-5">
                    <textarea type="text" name="detail" class="form-control" aria-label="description" id="detail" rows="4">{{product.description}}</textarea>
                </div>
            </section>
        </div>
    </div>
</form>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      {{!-- <img src="..." class="rounded me-2" alt="..."> --}}
      <strong class="me-auto">Producto Editado</strong>
      {{!-- <small>11 mins ago</small> --}}
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Su producto {{product.title}} ha sido Editado.
    </div>
  </div>
</div>
<script>
    let select = document.getElementById('category')
    select.value = {{product.category}}
</script>
