<section>
    <div>
        <img src="{{ userData.profilePicture }}" alt="profilePic" style="width: 100px;">
    </div>
    <div>
        <p><span>Username:</span> {{ userData.username }}</p>
        <p><span>Email:</span> {{ userData.email }}</p>
        <p><span>Telefono:</span> {{ userData.phoneNumber }}</p>
        <p><span>Nombre:</span> {{ userData.name }}</p>
        <p><span>Edad:</span> {{ userData.age }}</p>
        <p><span>Direccion:</span> {{ userData.address }}</p>
    </div>
</section>